<%= stylesheet_link_tag "#{AppConfig[:frontend_prefix]}assets/work_order.css" %>
<%= stylesheet_link_tag "#{AppConfig[:frontend_prefix]}assets/fattable.css" %>
<%= javascript_include_tag "#{AppConfig[:frontend_prefix]}assets/fattable.js" %>

<div class="record-pane">

  <h1><%= I18n.t("plugins.digitization_work_order.form_title") %></h1>

  <% if @report_errors %>
    <div class="alert alert-danger">
      <%= @report_errors %>
    </div>
  <% end %>

  <p>
    <strong><%= I18n.t("plugins.digitization_work_order.resource") %>:
    </strong> <%= @tree['title'] %> (<%= @tree['identifier'] %>)
  </p>
  <p>
    <strong><%= I18n.t("plugins.digitization_work_order.records_selected") %>:
    </strong> <span id="selectedCount"></span>
  </p>

  <div id='work_order_table'></div>

  <% if AppConfig.has_key?(:digitization_work_order_ladybird) && AppConfig[:digitization_work_order_ladybird] %>
    <%= render_aspace_partial :partial => "ladybird_export" %>
  <% else %>
    <%= render_aspace_partial :partial => "do_report" %>
  <% end %>

</div>

<%= javascript_include_tag "#{AppConfig[:frontend_prefix]}assets/work_order_table.js" %>
<script>
 initWorkOrderTable(<%= ASUtils.to_json(@tree).html_safe %>);
</script>
