<%= stylesheet_link_tag "#{AppConfig[:frontend_prefix]}assets/fattable.css" %>
<%= javascript_include_tag "#{AppConfig[:frontend_prefix]}assets/fattable.js" %>

<div class="record-pane">

  <h1>Work Order Form</h1>

  <p><strong>Resource: </strong> <%= @tree['title'] %> (<%= @tree['identifier'] %>)</p>
  <p><strong>Records Selected: </strong> <span id="selectedCount"></span></p>

  <div id='work_order_table'></div>

  <div id='work_order_buttons'>
    <hr>
    <button id="generateWorkOrderReport" class="btn btn-primary" disabled>Generate Report</button>
    <%= link_to 'Cancel',:back, :class => "btn btn-default" %>
  </div>
</div>

<%= javascript_include_tag "#{AppConfig[:frontend_prefix]}assets/work_order_table.js" %>
<script>
 initWorkOrderTable(<%= ASUtils.to_json(@tree).html_safe %>, "<%= url_for :controller => :work_order, :action => :generate_report %>");
</script>
