<%= stylesheet_link_tag "#{AppConfig[:frontend_prefix]}assets/fattable.css" %>
<%= javascript_include_tag "#{AppConfig[:frontend_prefix]}assets/fattable.js" %>

<div class="record-pane">

  <h1>Work Order Form</h1>

  <p><strong>Resource: </strong> <%= @tree['title'] %> (<%= @tree['identifier'] %>)</p>
  <p><strong>Records Selected: </strong> <span id="selectedCount"></span></p>

  <div id='work_order_table'></div>

  <div id='work_order_buttons'>
    <div class="form-group">
      <form class="form-inline">
        <fieldset class="form-group additional-options">
          <legend>Additional options</legend>
          <label class="checkbox-inline" for="series"><input type="checkbox" id="series" name="series">Series title</label>
          <label class="checkbox-inline" for="subseries"><input type="checkbox" id="subseries" name="subseries">Subseries title</label>
          <label class="checkbox-inline" for="barcode"><input type="checkbox" id="barcode" name="barcode">Barcode</label>
          <label class="checkbox-inline" for="dates"><input type="checkbox" id="dates" name="dates">Date(s)</label>
        </fieldset>
      </form>
    </div>

    <div class="form-group">
      <button id="generateWorkOrder" class="btn btn-primary submit-btn" disabled>Generate Work Order</button>
      <button id="generateReport" class="btn btn-primary submit-btn" disabled>Generate Report</button>
      <%= link_to 'Cancel',:back, :class => "btn btn-default" %>
    </div>
  </div>
</div>

<%= form_tag({:controller => :work_order, :action => :generate_report}, {:method => 'post', :id => "work_order_form"}) do |form| %>
  <div class="report-fields"></div>
<% end %>

<%= javascript_include_tag "#{AppConfig[:frontend_prefix]}assets/work_order_table.js" %>
<script>
 initWorkOrderTable(<%= ASUtils.to_json(@tree).html_safe %>);
</script>
